[Head]
Name: John Doe
Info 1: john.doe@example.com
Info 2: 555-867-5309 | 555-999-1234
Info 3: example.com/john.doe

[Education 1]
Degree: BA
Location: University of Wherever
Position: Something
Start Date: Sept 2010
End Date: May 2014
Description: Learned the thing

[Education 2]
Degree: PhD
Location: University of Wherever
Position: Something
Start Date: Sept 2014
End Date: present

[Experience]
Location: Company, Inc.
Position: Associate Person
Date: Summer 2012 and 2013
Description 1: Did a few things
Description 2: Did a few more things

[Skills]
Name: Technical Skills
Skill 1: Doing some things
Skill 2: Doing other things